@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(21, 91%, 17%);
  --clr-primary-2: hsl(21, 84%, 25%);
  --clr-primary-3: hsl(21, 81%, 29%);
  --clr-primary-4: hsl(21, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(21, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(21, 57%, 50%);
  --clr-primary-7: hsl(21, 65%, 59%);
  --clr-primary-8: hsl(21, 80%, 74%);
  --clr-primary-9: hsl(21, 94%, 87%);
  --clr-primary-10: hsl(21, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.img {
  width: 100%;
  display: block;
}
.text-slanted {
  font-family: 'Kaushan Script', cursive;
}
.section-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
.section {
  padding: 5rem 0;
}
.btn {
  background: var(--clr-primary-5);
  color: var(--clr-white);
  border-radius: var(--radius);
  padding: 0.375rem 0.75rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  border-color: transparent;
  cursor: pointer;
}
.btn:hover {
  background: var(--clr-primary-7);
  color: var(--clr-black);
}


/*
=============== 
Navbar
===============
*/
.design{
  font-size: 300%;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  
}
.navbar {
  height: 6rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-center {
  width: 90vw;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: none;
  
}
.toggle-nav {
  background: var(--clr-primary-5);
  border-color: transparent;
  color: var(--clr-white);
  width: 3.75rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: var(--transition);
}
.toggle-nav:hover {
  background: var(--clr-primary-3);
}
.toggle-container {
  position: relative;
  margin-top: 0.75rem;
}
.toggle-cart {
  background: transparent;
  border-color: transparent;
  font-size: 1.6rem;
  color: var(--clr-white);
  cursor: pointer;
}
.cart-item-count {
  position: absolute;
  top: -0.85rem;
  right: -0.85rem;
  background: var(--clr-primary-5);
  width: 1.75rem;
  height: 1.75rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: var(--clr-white);
  font-weight: bold;
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    position: relative;
  }
  .nav-logo {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
  .toggle-nav {
    display: none;
  }
  .nav-links {
    display: flex;
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  .nav-link {
    color: var(--clr-red-dark);
    margin-right: 2rem;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    font-size: 1.25rem;
  }
  .nav-link:hover {
    color: var(--clr-primary-5);
  }
}
@media screen and (min-width: 992px) {
  .nav-logo {
    left: 50%;
  }
}
/* page navbar */
.page .nav-link {
  color: var(--clr-grey-1);
}
.page .nav-link:hover {
  color: var(--clr-primary-5);
}
.page .toggle-cart {
  color: var(--clr-grey-1);
}
/*
=============== 
Hero
===============
*/
.hero {
  min-height: 100vh;
  margin-top: -6rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/logo1.jpg) center/cover;
  display: grid;
  place-items: center;
  color: var(--clr-white);
}
.hero-container {
  width: 90vw;
  max-width: var(--max-width);
}
.hero h1 {
  font-weight: 400;
}
.space {
  margin-top: 400px;
}
.hero h3 {
  text-transform: none;
  font-size: 1.5rem;
}
.hero-btn {
  color: var(--clr-white);
  background: transparent;
  border: 1px solid var(--clr-white);
  padding: 0.5rem 0.75rem;
  display: inline-block;
  margin-top: 0.75rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  transition: var(--transition);
}
.hero-btn:hover {
  background: var(--clr-white);
  color: var(--clr-primary-5);
}

@media screen and (min-width: 800px) {
  .hero h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 992px) {
  .hero h1 {
    font-size: 4.25rem;
    letter-spacing: 5px;
  }
  .hero h3 {
    font-size: 2.75rem;
    margin: 1.5rem 0;
  }
}

/*
=============== 
Sidebar
===============
*/
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: -1;
  transition: var(--transition);
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}
.sidebar-overlay.show {
  opacity: 1;
  z-index: 100;
}
.sidebar {
  width: 90vw;
  height: 95vh;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
  padding: 4rem;
  transform: scale(0);
  background-color: transparent;
  
}
.show .sidebar {
  transform: scale(1);
}
.sidebar-close {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: orangered;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  
}
.sidebar-link {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: brown;
}
.sidebar-link i {
  color: var(--clr-grey-5);
  margin-right: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 800px) {
  .sidebar-overlay {
    display: none;
  }
}




/*
=============== 
About Page
===============
*/
.about-text {
  line-height: 2;
  max-width: 45em;
  margin: 0 auto;
  margin-top: 2rem;
}
p {
  color: #102a42;
}

/*
=============== 
Products Page
===============
*/
body{
  background-color: rgb(238, 245, 245);
}

.overlay {
  font-size: 40px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  background-color: rgba(10,10,10,0.3);
}

.cart {
  white-space: nowrap;
}

.cart ion-icon{
  vertical-align: bottom;
  font-size: 50px;
  padding-right: 5px;
}

.cart a{
  font-size: 30px;
  color: rgb(193, 44, 44);
  cursor: pointer;
  text-decoration: none;
}
.container,
.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;

}

.image{
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.add-cart{
  position: absolute;
  width: 100%;
  background-color: rgb(221, 221, 221);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4{
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;

}

/*------------- CART PAGE --------*/

.products-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}
.products-container ion-con{
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header{
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid black;
  margin: 0 auto;
}
.product-title {
  width: 50%;
  border-bottom: 1px solid black;

}
.price {
  width: 20%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.quantity {
  width: 20%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.total {
  width: 10%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.product {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid black;
}
.product ion-icon {
  cursor: pointer;
}
.products{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.basketTotalContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
.basketTotalTitle {
  width: 15%;
  font-weight: bold;

}
.basketTotal {
  width: 15%;
  font-weight: bold;
  
}

li::marker {
  color: transparent;
}
/*----- About Page -----*/
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
About
===============
*/
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.title p {
  width: 80%;
  margin: 0 auto;
}

.about-img {
  margin-bottom: 1rem;
}
.about-img img {
  border-radius: var(--radius);
  object-fit: cover;
  height: 20rem;
}
@media screen and (min-width: 992px) {
  .about-img {
    margin-bottom: 0;
  }

  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
.about {
  background: var(--clr-white);
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr;
}
.btn-container {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}
.tab-btn:nth-child(3) {
  border-top-right-radius: var(--radius);
}
.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
}
.tab-btn:hover:not(.active) {
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
}
.about-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 2rem 1.5rem;
}
/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: var(--clr-white);
}
.content.active {
  display: block;
}


/*------------- CONTACT PAGE --------*/
.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color:black;
}
.contact .content p {
  font-size: 25px;
  font-weight: 500;
  color:black;
}
.container-contact{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container-contact .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container-contact .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container-contact .contactInfo .box .icon{
  min-width: 40px;
  height: 40px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container-contact .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  flex-direction: column;
  font-weight: 300;
}
.container-contact .contactInfo .box .text h3{
  font-weight: 500;
  color: #315b5f;
}
.contactForm{
  width: 45%;
  padding: 35px;
  background-color: #fff;
}
.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.submit {
  background-color: lightgrey; /* Grey */
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  
  
}
.submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (max-width: 700px) {
  .contact{
    padding: 40px;
  
  }
  .container-contact{
    flex-direction: column;
  }
  .container-contact .contactInfo{
    margin-bottom: 40px;
    align-items: center;
  }
  .container-contact .contactInfo{
    width: 100%;
  }
  .container-contact .contactForm{
    width: 100%;
  }

}